# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/acinclude.m4
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h.in
/config.sub
/configure
/configure.in
/install-sh
/ltmain.sh
/Makefile.global
/missing
/mkinstalldirs
/run-tests.php